body{
	color: #fff;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Cuprum', sans-serif;
}

/*begin footer*/

#footer{
	height: 201px;
	background-color: #333;
}

#footer .top{
	height: 100px;
}

#footer .top div a:hover{
	text-decoration: none;
}

#footer .top div a p{
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin-top: 43px;
}

#footer .top div a p:hover{
	color: #e94c3d;
}

#footer .bottom p{
	text-align: center;
	color: #e94c3d;
	font-size: 12px;
	font-weight: lighter;
}

#footer .bottom .p1{
	margin-top: 25px;
}

#footer .bottom p a{
	color: #e94c3d
}
#footer .bottom p a:hover{
	color: #fff;
	text-decoration: none;
}

/*begin contact*/

#contact{
	background-color: #e94c3d;
}

#contact .title p{
	text-align: center;
}

#contact .title .p1{
	font-size: 40px;;
	margin-top: 60px;
	text-transform: uppercase;
}

#contact .title .p2{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

#contact .content{
	margin-top: 60px;
	margin-bottom: 100px;
}

#contact .content .info{
	margin-top: 10px;
	background-color: #333;
	min-height: 500px;
	margin-right: 15px
}

#contact .content .info p{
	padding-left: 15%;
}

#contact .content .info .p1{
	font-size: 18px;
	padding-top: 70px;
	margin-bottom: 0px;
	color: #fff;
	text-transform: uppercase;
}

#contact .content .info .p2{
	margin: 0px;
	font-size: 14px;
}

#contact .content .message{
	margin-top: 10px;
	background-color: #333;
	min-height: 500px;
	margin-left: 15px
}

#contact form{
  display: block;
  width: 80%;
  margin: 5% auto;
}

#contact form .error{
  color: #e94c3d;
  font-size: 12px;
  font-weight: 100;
}

#contact form input{
  background-color: transparent;
  width: 100%;
  border: 0px solid #fff;
  border-bottom: 1px solid #fff;
}

#contact form input:focus{
  border: 0px solid #fff;
  border-bottom: 3px solid #e94c3d;
  outline-color: transparent;
}

#contact form button{
  display: block;
  width: 30%;
  background-color: #fff;
  border: 0px;
  color: #e94c3d;
  padding: 5px
}

#contact form button:focus,
#contact form button:hover{
  background-color: #e94c3d;
  color: #fff;
  outline-color: transparent;
}
#contact textarea{
  background-color: transparent;
  width: 100%;
  height: 80px;
  border: 0px solid #fff;
  border-bottom: 1px solid #fff;
}
#contact textarea:focus{
  border: 0px solid #fff;
  border-bottom: 3px solid #e94c3d;
  outline-color: transparent;
}

/*begin testimonials*/

#testimonials-container{
/*	background-size: cover;
	background-image: url(../img/testimonials.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

#testimonials-container p.title{
	text-align: center;
	font-size: 40px;;
	padding-top: 100px;
	color: #fff;
	text-transform: uppercase;
}

#testimonials-container p.feed{
	font-family: 'Open Sans', sans-serif;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	width: 50%;
	text-align: center;
	font-size: 14px;
}

#testimonials-container p.pers{
	margin-top: 50px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
}

#testimonials-container p.company{
	margin-top: -5px;
	text-align: center;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.owl-theme .owl-dots .owl-dot{
	margin-top: 30px;
	margin-bottom: 70px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #e94c3d;
}

/*begin team*/
#team{
	margin-bottom: 100px;
}

.team-title p{
	color:#333;
	text-align: center;
}

.team-title p.title{
	font-size: 40px;;
	margin-top: 50px;
	text-transform: uppercase;
}

.team-title p.title2{
	display: block;
	width: 60%;
	margin: 0 auto;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.teammate{
	margin-top: 30px;
	height: 450px;
	width: 100%;
}

.teammate .person{
	margin-top: -450px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.teammate img{
	width: 70%;
	border-radius: 50%;
}


.teammate .name-function{
	height: 100px;
	color: #333;
}

.teammate .devider{
	height: 1px;
	width: 50%;
	background: #333;
}

.teammate .name{
	padding-top: 10px;
	text-align: center;
	font-size: 30px;
}

.teammate .function{
	margin-top: -10px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.teammate .links{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #333;
	opacity: 0;
	transition: ease-in-out 1s;
}
.teammate .links:hover{
	transition: ease-in-out 1s;
	opacity: .8
}


.teammate .links a{
	color: #fff;
	font-size: 180%;
	margin: 0 15px;
}
.teammate .links a:hover{
	color: #e94c3d;
}

/*begin portfolio*/
#portfolio{

}

#portfolio #portfolio-header,
#portfolio #portfolio-footer{
	min-height: 130px;
	background-color: #e6e6e6;
}

#portfolio #portfolio-header .portfolio-title{
	color: #333;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	margin-top: 14%;
	margin-bottom: 14%;
}

.portfolio-nav{
	margin-top: 12%;
	margin-bottom: 12%;
}

.portfolio-nav a{
	margin-right: 11%;
	text-decoration: none;
	color: #333;
}

.portfolio-nav a:hover,
.portfolio-nav a:focus{
	color: #e94c3d;
}

#portfolio-items a{
	text-decoration: none;
}

#portfolio-items a:hover img{
	box-shadow: 0 0 1em #000;
	filter: opacity(40%);
	transition: 1s ease-in-out;
}

#portfolio-items img{
	/*important*/
	margin: 10px 0;
	width: 100%;
	height: 100%;
	transition: .3s ease-in-out;
}

#portfolio-footer p{
	text-align: center;
	margin: 5% 0;
}

#portfolio-footer p a{
	font-family: 'Open Sans', sans-serif;
	color: #333;
	text-transform: uppercase;
	transition: .3s ease-in-out
}
#portfolio-footer p a:hover{
	text-decoration: none;
	color: #e94c3d;
	transition: .3s ease-in-out
}

/*begin services*/

#services{
	color: #333;
}

#services .title{
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

#services .item i{
	display: block;
	height: 36px;
	width: 36px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 36px;
}

#services .item .item-title{
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #e94c3d;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}

#services .item .item-description{
	text-align: center;
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 60px;
}

#services .owl-nav{
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: space-between;
}

#services .owl-next,
#services .owl-prev{
	margin: 0;
	margin-top: -200px;
	height: 40px;
	width: 40px;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px;
	background-color: #e94c3d;
	transition: .4s linear;
}
#services .owl-next:hover,
#services .owl-prev:hover{
	background-color: #fff;
	border: 1px solid #e94c3d;
	color: #e94c3d;
	transition: .3s ease-in-out;
}

/*Begin about-2*/

#about-2{
	margin-top: 60px;
	margin-bottom: 60px;
}

#about-2 .title{
	display: block;
	margin-top: 30px;
	border-left: 5px solid #e94c3d;
	color: #333;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

#about-2 .content{
	width: 90%;
	color: #333;
	margin-top: 50px;
}

#about-2 a{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	width: 50%;
	height: 35px;
	background-color: #e94c3d;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	transition: .4s ease-in-out;
}
#about-2 a:hover{
	text-decoration: none;
	background-color: #fff;
	color: #333;
	border-bottom: 2px solid #e94c3d;
	transition: .4s ease-in-out;
}

/*begin about-1*/

#about-1{
	margin-top: 60px;
	margin-bottom: 60px;
}

#about-1 .top{
	width: 60%;
	margin: 0 auto;
	margin-top: 50px;
}

#about-1 .icons{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	margin: 0 auto;
	border: 1px solid transparent;
	transition: .4s ease-in-out;
}

#about-1 .icons{
	color: #e94c3d;
	font-size: 40px;
}

#about-1 .title{
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
	transition: .3s ease-in-out;
}

#about-1 .top:hover .icons{
	transform: rotate(-45deg);
	border: 2px solid #333;
	transition: .4s ease-in-out;
}

#about-1 .top:hover .title{
	transition: .3s ease-in-out;
	color: #e94c3d;
}

#about-1 .devider{
	height: 1px;
	width: 30%;
	margin: 0 auto;
	margin-top: 20px;
	background: #333;
}

#about-1 .content{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 60px;
}

#about-1 .content p{
	color: #333;
	text-align: center;
}

/*begin header*/

header{
	background-image: url(../img/header.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header::before, header::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 4vw solid #fff;
}
header::before {
  border-right: 50vw solid transparent;
  left: 0;
}
header::after {
  border-left: 50vw solid transparent;
  right: 0;
}

/*begin navbar*/

.logo{
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	color: #fff;
	transition: .4s ease-in-out;
	margin-left: 15px;
	margin-top: -15px;
}
.logo:hover{
	color: #e94c3d;
	transition: .4s ease-in-out;
	text-decoration: none;
}
.logo:focus{
	text-decoration: none;
	color: #fff;
}

.nav-block{
	max-width: 980px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
    color: #fff;
	transition: .2s ease-in-out;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #e94c3d;
	transition: .2s ease-in-out;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	outline-color: transparent;
}

.social-menu .fa{
	font-size: 18px;
}

/*btn*/
.navbar-default .navbar-toggle{
	border: 0px;
	transition: .5s ease-in-out;
	font-size: 18px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .active{
	background-color: transparent;
	border-color: transparent;
	color: #e94c3d;
	transition: .5s ease-in-out;
}

.navbar-default .navbar-toggle:focus{
	background-color: transparent;
}

.navbar-default .active{
	transform: rotate(45deg);
}


/*begin header-slider*/


.header-slider .item{
	text-align: center;
	max-width: 660px;
	margin: 0 auto;
	padding: 0 15px;
}

.header-slider .intro{
	font-size: 16px;
}


.header-slider .devider {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.header-slider .devider span {
	display: inline-block;
	width: 5px;
	height: 5px;
	background-color: #e94c3d;
	margin: 0 15px;
}

.header-slider .devider::before {
	content: '';
	display: inline-block;
	height: 1px;
	width: 90px;
	background-color: #fff;
}

.header-slider .devider::after {
	content: '';
	display: inline-block;
	height: 1px;
	width: 90px;
	background-color: #fff;
}

.header-slider .content {
	margin-top: 30px;
	margin-bottom: 45px;
	font-family: 'Open Sans', sans-serif;
}

.header-slider .content .hushtag{
	color: #fff;
	transition: .3s linear;
	text-decoration: none;
}

.header-slider .content .hushtag:hover{
	color: #e94c3d;
	transition: .3s linear
}

.button, .button-invers {
	background-color: #e94c3d;
	display: inline-block;
	padding: 15px 65px;
	text-transform: uppercase;
	border: 1px solid #e94c3d;
	color: #fff;
	transition: all .3s linear;
	margin: 0 30px;
}

.button-invers {
	background-color: transparent;
	border-color: #fff;
}

.button:hover {
	background-color: #fff;
	color: #e94c3d;
	text-decoration: none;
	border-color: #fff;
}

.button-invers:hover {
	text-decoration: none;
	color: #e94c3d;
	background-color: #fff;
}

.header-slider .owl-nav{
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: space-between;
}

.header-slider .owl-next,
.header-slider .owl-prev{
	margin: 0;
	margin-top: -200px;
	height: 40px;
	width: 40px;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px;
	background-color: rgba(233, 76, 61, .0);
	border: 1px solid #fff;
	transition: .3s ease-in-out;
}
.header-slider .owl-next{
	border-right: 1px solid transparent;
}
.header-slider .owl-prev{
	border-left: 1px solid transparent;
}
.header-slider .owl-next:hover,
.header-slider .owl-prev:hover{

	background-color: rgba(233, 76, 61, 1);
	transition: .3s ease-in-out;
}

.anchor{
	height: 64px;
	width: 64px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e94c3d;
	font-size: 24px;
	margin: 0 auto;
	margin-bottom: -32px;
	z-index: 999;
}


/* Begin POPUP */


/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 700px;
  margin: 0 auto;
  color: #000;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 18px;
}
.white-popup a{
	text-decoration: none;
	color: #000;
	transition: .3s ease-in-out
}
.white-popup a:hover{
	color: #e94c3d;
	transition: .3s ease-in-out
}

/* 

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Newspaper effect ======

*/
.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.5s;
  transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
  transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-horizontal effect ======

*/
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  transition: all 0.3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateX(0);
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  transform: translateX(50px);
  opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-from-top effect ======

*/
.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== 3d unfold ======

*/
.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-3d-unfold .mfp-content {
  perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  transform: rotateY(60deg);
  opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Zoom-out effect ======

*/
.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
  transform: scale(1.3);
  opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== "Hinge" close effect ======

*/
@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}
.hinge {
  animation-duration: 1s;
  animation-name: hinge;
}

.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
  opacity: 0;
  transition: opacity .5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-close:hover{
	color: #e94c3d
}