@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cuprum');



@media screen and (max-width: 991px) {
	
	/*begin footer*/
	#footer{
		height: auto
	}

	#footer .top{
		height: auto
	}

   #footer .top div a p{
	margin-top: 0px;
	}
	
	/*begin contact*/

	#contact .content .info{
		margin-right: 0px;
	}

	#contact .content .message{
		margin-left: 0px;
	}

	/*begin testimonials*/

	#testimonials-container p.feed{
		width: 70%
	}

}


@media screen and (max-width: 767px) {
	
	/*begin testimonials*/

	#testimonials-container p.feed{
		width: 90%
	}

	/*begin about-2*/

	#about-2 a{
		width: 75%;
	}
	
	/*begin about-1*/

	#about-1 .content{
		width: 70%;
	}

}

/*begin navbar*/

@media (min-width: 768px){

	.navbar-nav > li > a {
	     padding-top: 0; 
	     padding-bottom: 0;
	     margin: 14px -2px;
	}

	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	    margin-left: 0px;
	}

}


@media screen and (min-device-width: 992px) and (max-device-width: 9000px) { 
   .navbar-nav{
   	margin-left: 10%;
   }

   .nav > li > a {
        margin: 18px 8px;
   }


}